.logo {
    display: flex;
    transition: ease 200ms all;
}

@media (hover: hover) {
    .logo:hover {
        transform: scale(1.1);
    }   
}

.header {
    border-radius: 6px;
    box-shadow: rgba(0,0,0,.3) 2px 2px 6px;
}

.icon-left {
    margin-left: 8px;
}

.icon-right {
    margin-right: 8px;
}