.container {
  position: relative;
}

.animate {
  z-index: -1;
  padding: 3px;
  border-radius: 8px;
  background: transparent;
  animation: lightup 2s ease;
}

.icon {
  margin-left: 4px;
}

@keyframes lightup {
  0% {
    background: transparent;
  }
  50% {
    background: rgb(208, 55, 203);
  }
  100% {
    background: transparent;
  }
}